@keyframes tumbleweedAnimation {
  0% { left: -20%; }
  25% {
    left: 15%;
    transform: rotate( 180deg );
  }
  50% {
    left: 50%;
    transform: rotate( 360deg );
  }
  75% {
    left: 85%;
    transform: rotate( 540deg );
  }
  100% {
    left: 120%;
    transform: rotate( 720deg );
  }
}

.night-button, .night-button:focus {
  font-size: xx-large;
  outline: none;
  border: none;
  background: none;
}

.sky {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -999;
}

.ground {
  position: absolute;
  width: 100vw;
  height: 20vh;
  top: 80%;
  left: 0;
  background-color: #000000;
}

.mesa {
  position: absolute;
  z-index: -1;
  width: 100vw;
  bottom: 15%;
  left: 0;
}

.cactus {
  position: absolute;
  width: 30vw;
  height: 45vh;
  top: 45%;
  left: 0;
}

.sun-and-moon {
  position: absolute;
  z-index: -2;
  width: 30vw;
  height: 30vh;
  top: 10%;
  left: 50%;
}

.tumbleweed {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 67.5%;
  animation-name: tumbleweedAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
